node_modules
config.json
logs
public/*
!public/index.html
!public/dev_index.html
!public/locales/*
!public/favicon.ico
!public/site.webmanifest
!public/favicon-16x16.png
!public/favicon-32x32.png
!public/tokenList.js
package-lock.json
.idea
assets/js/config.js