{
    "web3_enq_path" : "web3-enq/dist/enqweb3lib.node.min.js",
    "mode"          : "dev",

    "local_service_port" : 7070,
    "passphrase"         : "secret",

    "remote_service_url"  : "https://localhost",
    "remote_service_port" : "1234",

    "dex_url"   : "dex_url",
    "dex_port"  : 1234,

    "json_rcp_version": "2.0",
    "api_version"     : "v1",
    "last_request_id" : 0
}