body {
    font-family: "Helvetica", sans-serif;
    background-color: white;
}

#c-opacity {
    visibility: hidden;
    background-color : grey; 
    opacity : 0.7; 
    width : 100%; 
    height : 100%; 
    position: fixed; 
    z-index:100
}

#connection-services {
    position: absolute;
    visibility: hidden;
    opacity: 1;
    z-index: 101;
    background-color: #ecf4fc;
    margin-top: 10%;
    height: 500px;
    width: 430px;
    border-radius: 40px;
    margin-left: -215px;
    left: 50%;
}

p {
    font-family: "Helvetica", sans-serif;
}

.navbar.new-color {
    background-color: #ecf4fc;
}

.navbar-brand {
    margin-left: 0.5%;
    margin-bottom: 0.2%;
    margin-top: 0.2%;
}

.connect-btn {
    position: absolute;
    right: 1.5%;
}

#switch {
    position: fixed;
    margin-top: 5%;
    height: 35px;
    margin-left: 25px;
    width: 380px;
    border-radius: 40px;
    background-color: #e4ecfc;
    margin-left: -190px;
    left: 50%;
}

.swap-card {
    position: fixed;
    background-color: #ecf4fc;
    margin-top: 10%;
    height: 500px;
    width: 430px;
    border-radius: 40px;
    margin-left: -215px;
    left: 50%;
}

#liquidity {
    visibility: hidden;
}

#head-line {
    width: 100%;
    margin-top: 20px;
    border-bottom: 2px solid white;
}

.swap-input {
    background-color: #e4ecfc;
    border: solid #e4ecfc;
    border-radius: 30px;
    width: 90%;
    height: 100px;
    margin-left: 5%;
}

#from {
    margin-top: 22px;
}

#exch {
    transform: rotate(90deg);
    background-color: #e4ecfc;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 195px;
    border-radius: 50px;
}

#to {
    margin-top: 10px;
}

#submit {
    background-color: #747cf4;
    height: 60px;
}

i {
    border: solid grey;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

#up-arrow {
    transform: rotate(135deg);
    margin-bottom: -6px;
    margin-left: 9px;
}

#down-arrow {
    margin-bottom: -6px;
    transform: rotate(-45deg);
    /* margin-left: 14px; */
}

#swap-mode-header {
    margin-top: 20px;
    margin-left: 6%;
}

#under-header {
    margin-left: 6%;
}

.input-field {
    background-color: #e4ecfc;
    border: 0;
    margin-top: 25px;
    margin-left: 24%;
    border-radius: 50px;
    text-align: center;
    width: 200px;
}

.side {
    position: absolute;
    margin-top: 35px;
    margin-left: 25px;
    width: 20px;
}

.token-use {
    background-color: #747cf4;
    position: absolute;
    top: 158px;
    right: 35px;
}

.token-use1 {
    background-color: #747cf4;
    position: absolute;
    top: 319px;
    right: 35px;
}

#close {
  position: absolute;
  right: 32px;
  top: 34px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
#close:hover {
  opacity: 1;
}
#close:before, #close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 22px;
  width: 2px;
  background-color: #333;
}
#close:before {
  transform: rotate(45deg);
}
#close:after {
  transform: rotate(-45deg);
}

.switch-mode {
    text-align: center;
    height: 35px;
    width: 190px;
    border-radius: 40px;
    color: white;
    padding-top: 1px;
    font-size: 22px;
    background-color: #747cf4;
}

#exchange-mode {
    opacity: 1;
}

#liquidity-mode {
    position: absolute;
    right: 0;
    margin-top: -35px;
    opacity: 0;
}

#exchange-mode:hover {
    opacity: 1;
}
#liquidity-mode:hover {
    opacity: 0.2;
}

.tokens-card {
    position: absolute;
    visibility: hidden;
    background-color: #ecf4fc;
    margin-top: 5%;
    height: 700px;
    width: 330px;
    border-radius: 40px;
    margin-left: -165px;
    left: 50%;
}