:root {
    --color1 : #ecf4fc;
    --color2 : #e4ecfc;
    --color3 : #747cf4;
    --main-background : white;
}

body {
    font-family: "Helvetica", sans-serif;
    background-color: var(--main-background);
}

p {
    font-family: "Helvetica", sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    height: 0;
    left:-100px;
    border-radius: 10px;
    background-color: #dde9ff;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--color3);
}