#left-navbar {
    position: fixed;
    height: 100%;
    left: 60px;
    background-color: var(--color1);
    transition: 0.3s;
    margin-top: 69px;
    overflow-x: hidden;
}

.nav-element {
    position: relative;
    font-size: 18px;
    padding: 6px;
    margin-top : 21px;
    margin-left: 15px;
}

#first-in-nav {
    margin-top : 15px;
}

#fixed-left-bar {
    position: fixed;
    height: 100%;
    background-color: var(--color1);
    margin-top: 69px;
    width: 60px;
}

#fixed-left-bar .nav-element {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    margin: 5px;
    margin-top: 10px;
}

#settings {
    position: fixed;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    margin: 5px;
    bottom: 10px;
}

.space-line {
    position: fixed;
    width: 100%;
    bottom: 80px;
    border-bottom: 2px solid var(--main-background);
};