#switch {
    position: fixed;
    box-shadow: var(--box-shadow);
    margin-top: 150px;
    height: 35px;
    margin-left: 25px;
    width: 380px;
    border-radius: 40px;
    background-color: var(--color1);
    margin-left: -190px;
    transition: var(--transition);
}

#liquidity-mode {
    position: absolute;
    right: 0;
    margin-top: -35px;
}

#exchange-mode {
    position: relative;
}

.switch-mode {
    text-align: center;
    cursor: pointer;
    height: 35px;
    width: 190px;
    border-radius: 40px;
    padding-top: 1px;
    font-size: 22px;
}