#aside {
    background-color: var(--menu-bg);
    top: var(--top-menu-height);
    height: calc(100% - var(--top-menu-height));
    top: var(--top-menu-height);
    bottom: 0px;
    z-index: 9999;
    left: 0px;    
}

@media (max-width: 757px) {
    #aside {
        background-color: var(--menu-bg-non-transparent);
    }

    main.aside-open #aside {
        width: 100%!important;
    }

/*    main.aside-open #aside {
        width: 100%!important;
        position: static!important;
    }*/
}

main.aside-open #aside {
    width: var(--aside-width-open);
}

main.aside-closed #aside {
    width: var(--aside-width-closed);
}

#aside a:hover,
#aside .menu-item:hover,
#aside .lang-switcher:hover,
#aside .lang-switcher:hover button  {
    cursor: pointer;
    color: var(--color4)!important;
    text-decoration: none;    
}

#aside .lang-switcher .dropdown-item:hover,
#aside .lang-switcher .dropdown-item:focus {
    background-color: transparent;
    color: var(--color4)!important;
}

#aside .lang-switcher .btn:focus,
#aside .lang-switcher .btn.focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
}

#aside .menu-item:hover .aside-menu-text {
    font-size: 30px;
}

#aside .aside-toggle {
    font-size: 27px;
}

#aside .icon-wrapper,
#aside .lang-switcher .dropdown-item {
    font-size: 20px;
}

#aside .aside-menu-text,
#aside .exchange-rate,
#aside .lang-switcher button {
    font-size: 25px;
}

#aside .lang-switcher .dropdown-toggle::after {
    display: none;
}

#aside .aside-menu-text {
    transition: font-size 0.2s;
}

#aside .lang-switcher,
#aside .lang-switcher button,
#aside .lang-switcher .dropdown-item {
    color: var(--color2);
}

/*if aside closed begin*/

main.aside-closed #aside .aside-toggle {
    display: block;
}

main.aside-open #aside .aside-toggle {
    display: none;
}

main.aside-closed #aside .rate-langswitcher-wrapper,
main.aside-closed #aside .socialsBar,
main.aside-closed #aside .aside-menu-text {
    display: none!important;
}

main.aside-closed #aside .icon-wrapper {
    width: auto!important;
    flex-basis: auto!important;
}
/*if aside closed end*/

main.aside-open #aside .menu-item {
    -ms-flex-pack: start!important;
    justify-content: flex-start!important; 
}

main.aside-closed #aside .menu-item {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

/*menu in aside begin*/
#aside .menu-item {
    height: 25px;
    color: var(--color2);
}

#aside .menu-item .icon-wrapper {
    flex-basis: 50px;
    width: 50px;
    flex-shrink: 0;
    flex-grow: 0;
}
/*menu in aside end*/






/*socials in aside begin*/
#aside .socialsBar {
    display: flex;
    -webkit-box-pack: justify!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
    color: var(--color2);
}

#aside .socialsBar a {
    font-size: 27px;
    color: var(--color2);
}
/*socials in aside end*/






/*ENQ exchange rate begin*/

.exchange-rate div {
    color : var(--color3);
    margin-left : 10px;
    font-weight: bold;
}
/*ENQ exchange rate end*/