#bridgeWrapper input[type="text"] {
	background-color: var(--color2);
	border-color: var(--color9);
	border-radius: var(--border-radius2);
	color: var(--color4);
}

#bridgeWrapper input[type="text"]::placeholder {
	color: var(--color4);
}

#bridgeWrapper .rounded-button {
	background: var(--color10);
	padding: 11px 16px;
	border-radius: 45px;
	border-color: var(--color10);
}

#bridgeWrapper .rounded-button:hover {
	background: #5a6268;
	padding: 11px 16px;
	border-radius: 45px;
	border-color: #545b62;
}

#bridgeWrapper #understandCheckbox {
	background-color: var(--color4);
}

#bridgeWrapper .dropdown-toggle {
	display: flex;
	justify-content: space-between!important;
	align-items: center!important;
	background-color: var(--color2);
    border-color: var(--color9);
    color: var(--color4);
}

#bridgeWrapper .dropdown-toggle:focus {
	/*border: none;*/
	box-shadow: none;
}

#bridgeWrapper .dropdown-menu {
	min-width: 5rem;    
    border-radius: var(--border-radius2);
    background: var(--bg-color-1);
}

#bridgeWrapper .dropdown-menu .dropdown-item {
	background: transparent;
	color: var(--color4);
}


#bridgeWrapper .dropdown-menu .dropdown-item.active, #bridgeWrapper .dropdown-menu .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: var(--color5);
}

#bridgeWrapper .dropdown-menu .dropdown-item:hover {
	color: var(--color1);
}


.bridge-history-resume-wrapper, .bridge-resume-wrapper {
	min-width: 180px;
	flex-basis: 180px;
	width: 180px;
	text-align: center;
}

.bridge-history-resume-wrapper *, .bridge-resume-wrapper * {
	text-align: center;
}

.bridge-history-resume-wrapper .bridge-reset-button {
	display: none;
}

.select-chain-title {
	width: 100%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#bridgeWrapper .bridge-history-item .table thead th {
    border-top: none;
}

.btn-info.no-focus-effect:not(:disabled):not(.disabled).active:focus, .btn-info.no-focus-effect:not(:disabled):not(.disabled):active:focus, .show>.btn-info.no-focus-effect.dropdown-toggle:focus,
.btn-info.focus.no-focus-effect, .btn-info.no-focus-effect:focus {
	box-shadow: none!important;
}