.close-btn {
  position: absolute;
  right: 32px;
  top: 34px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  cursor: pointer;
}

.close-btn:hover {
  opacity: 1;
}

.close-btn:before, .close-btn:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 22px;
  width: 2px;
  background-color: var(--color3);
}

.close-btn:before {
  transform: rotate(45deg);
}

.close-btn:after {
  transform: rotate(-45deg);
}