.confirm-supply-description {
    color: var(--color2);
    font-size: 14px;
    line-height: 1.1;
}

.confirm-supply-button {
    background-color: var(--color3);
    height: 90%  !important;
    /* margin-top: 30px !important;
    margin-bottom: 23px !important; */
    border-radius: var(--border-radius1);
}