.c-card-1 {
    background-color: var(--bg-color-1);
    box-shadow: var(--box-shadow2);
    border-radius: var(--border-radius1);
}

#farmsCard .drop-farms-table-wrapper td {
     background-color: var(--color8);
}

#farmsCard .drop-farms-table-wrapper .table {
    margin-bottom: 0px;
    background-color: transparent;
}

#farmsCard .drop-farms-table-wrapper th,
#farmsCard .drop-farms-table-wrapper td {
    white-space: nowrap;
}

#farmsCard .drop-farms-table-wrapper .table thead th {
    border-top: none;
}

.drop-farms-table-wrapper .table-dark td, .drop-farms-table-wrapper .table-dark th, .drop-farms-table-wrapper .table-dark thead th {
    padding: 0px;
    border-top: none;
    min-height: 30px;
}

.drop-farms-table-wrapper .table-dark td .cell-wrapper, .drop-farms-table-wrapper .table-dark th .cell-wrapper, .drop-farms-table-wrapper .table-dark thead th .cell-wrapper {
    border-width: 2px;
    height: 80px;
    width: 100%;
    border-top: 2px solid var(--color2);
/*    border-bottom: 2px solid var(--color2);*/
    padding: .75rem;
}

.drop-farms-table-wrapper .table-dark [data-expanded-row="true"] td  .cell-wrapper {
    border-bottom: 2px solid var(--color2);    
}

.drop-farms-table-wrapper .table-dark tr td:first-child .cell-wrapper {
    border-top-left-radius: var(--border-radius2);
    border-bottom-left-radius: var(--border-radius2);
    border-left-style: solid;
    border-left: 2px solid var(--color2);
}

.drop-farms-table-wrapper .table-dark tr td:last-child .cell-wrapper {
    border-top-right-radius: var(--border-radius2);
    border-bottom-right-radius: var(--border-radius2);
    border-right-style: solid;
    border-right: 2px solid var(--color2);
}

.drop-farms-table-wrapper .table-dark tr:last-child .cell-wrapper {
    border-bottom: 2px solid var(--color2);
}

#farmsCard .drop-farms-table-wrapper .details-control:hover {
    cursor: pointer;
    color: var(--color3);
}

#farmsCard .drop-farms-table-wrapper .details-control span.icon-Icon26 {
    font-size: 9px;
}

#farmsCard .simplebar-track.simplebar-horizontal {
    padding-top: 7px;
    padding-bottom: 7px;
}

#farmsCard .simplebar-track.simplebar-horizontal  .simplebar-scrollbar:before {
    background: var(--color4);
}

#farmsCard .simplebar-track.simplebar-horizontal  .simplebar-scrollbar.simplebar-visible:before {
    opacity: 1;
}

.farm-controls-wrapper td {
  background-color: transparent!important;
}

.table-dark.table-hover tbody tr.farm-controls-wrapper:hover {
    background-color: transparent;
}

.color-2 {
    color: var(--color2);
}

.earned-value, .stake-value {
    font-family: var(--font-face-black), sans-serif;
    color: var(--color1);
    font-size: 30px;
}

.outline-border-color2-button {
    color: var(--color2);
    border: 1px solid var(--color2)!important;
    border-radius: var(--border-radius2);
    background-color: transparent!important;
}

.outline-border-color2-button:hover, .outline-border-color2-button:focus, .outline-border-color2-button:not(:disabled):not(.disabled):active {
    border: 1px solid var(--color2)!important;
    background-color: var(--color2)!important;
    color: var(--color1);
}

.outline-border-color3-button {
    color: var(--color3);
    border: 1px solid var(--color3);
    border-radius: var(--border-radius2);
    background-color: transparent;
}

.outline-border-color3-button:hover, .outline-border-color3-button:focus, .outline-border-color3-button:not(:disabled):not(.disabled):active {
    border: 1px solid var(--color3);
    background-color: var(--color3);
    color: var(--color1);    
}

.increase-decrease-btn  {
    height: 58px;
    width: 70px;
    flex-basis: 70px;
    font-size: 30px;
}

.zero-flex {
    flex-shrink: 0;
    flex-grow: 0;
}

.stake-input-area {
    border-radius: var(--border-radius2);
    background: var(--color6);
}

.set-max {
    opacity: 0.9;
}

.set-max:hover {
    opacity: 1;
}

.text-color4-link {
    color: var(--color4);    
}

.text-color4-link:hover {
    color: var(--color3);
    text-decoration: none;
}

.sort-by button {
    background-color: transparent;
    border-color: var(--color2);
    border-radius: var(--border-radius2);
}

.sort-by button.dropdown-toggle::after {
    margin-left: 50px;
}

.sort-by:hover button, .sort-by.show .btn-success:not(:disabled):not(.disabled).active, .sort-by.show .btn-success:not(:disabled):not(.disabled):active, .sort-by.show>.btn-success.dropdown-toggle, .sort-by .btn-success.focus, .sort-by .btn-success:focus {
    border-color: var(--color4);
    background-color: var(--color2);
    box-shadow: none;
}

.sort-by .dropdown-menu {
    background-color: var(--color8);
    box-shadow: 0px 0px 38px 0px rgba(26, 31, 46, 0.004);
    border-radius: var(--border-radius2);
}

.sort-by .dropdown-menu .dropdown-item {
    color: var(--color1);
}

.sort-by .dropdown-menu .dropdown-item:focus, .sort-by .dropdown-menu .dropdown-item:hover {
    background-color: var(--color2);
    color: var(--color1);
}