.c-card-1 {
    background-color: var(--bg-color-1);
    box-shadow: var(--box-shadow2);
    border-radius: var(--border-radius1);
}

#farmsCard .drop-farms-table-wrapper td {
     background-color: var(--color8);
}

#farmsCard .drop-farms-table-wrapper .table {
    margin-bottom: 0px;
    background-color: transparent;
}

#farmsCard .drop-farms-table-wrapper th,
#farmsCard .drop-farms-table-wrapper td {
    white-space: nowrap;
}

#farmsCard .drop-farms-table-wrapper .table thead th {
    border-top: none;
}

.drop-farms-table-wrapper .table-dark td, .drop-farms-table-wrapper .table-dark th, .drop-farms-table-wrapper .table-dark thead th {
    padding: 0px;
    border-top: none;
    min-height: 30px;
}

.drop-farms-table-wrapper .table-dark td .cell-wrapper, .drop-farms-table-wrapper .table-dark th .cell-wrapper, .drop-farms-table-wrapper .table-dark thead th .cell-wrapper {
    border-width: 2px;
    height: 80px;
    width: 100%;
    border-top: 2px solid var(--color2);
/*    border-bottom: 2px solid var(--color2);*/
    padding: .75rem;
}

.drop-farms-table-wrapper .table-dark tr td:first-child .cell-wrapper {
    border-top-left-radius: var(--border-radius2);
    border-bottom-left-radius: var(--border-radius2);
    border-left-style: solid;
    border-left: 2px solid var(--color2);
}

.drop-farms-table-wrapper .table-dark tr td:last-child .cell-wrapper {
    border-top-right-radius: var(--border-radius2);
    border-bottom-right-radius: var(--border-radius2);
    border-right-style: solid;
    border-right: 2px solid var(--color2);
}

.drop-farms-table-wrapper .table-dark tr:last-child .cell-wrapper {
    border-bottom: 2px solid var(--color2);
}

#farmsCard .drop-farms-table-wrapper .details-control:hover {
    cursor: pointer;
    color: var(--color3);
}

#farmsCard .drop-farms-table-wrapper .details-control span.icon-Icon26 {
    font-size: 9px;
}

#farmsCard .simplebar-track.simplebar-horizontal {
    padding-top: 7px;
    padding-bottom: 7px;
}

#farmsCard .simplebar-track.simplebar-horizontal  .simplebar-scrollbar:before {
    background: var(--color4);
}

#farmsCard .simplebar-track.simplebar-horizontal  .simplebar-scrollbar.simplebar-visible:before {
    opacity: 1;
}


.Rectangle_3_copy_3 {
  border-width: 1px;
  border-color: rgb(97, 117, 139);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(44, 55, 75);
  position: absolute;
  left: 651px;
  top: 490px;
  width: 1614px;
  height: 97px;
  z-index: 46;
}
