
  @font-face {
    font-family: "Ska Sans Regular";
    src: url(../fonts/5kaSansDesign-Regular_4.otf);
  }

  @font-face {
    font-family: "Ska Sans Condensed";
    src: url(../fonts/5kaSansDesign-CondensedRegular_0.otf);
  }

  @font-face {
    font-family: "Ska Sans Black";
    src: url(../fonts/5kaSansDesign-Black_1.otf);
  }

:root {
    --color1 : #ffffff;
    --color2 : #61758b; /*синий текст в меню rgb(97, 117, 139);*/
    --color3 : #b4c941; /*хаки*/
    --color3-t : #b4c94180; /*полупрозрачный хаки для onhover режима кнопок*/
    --color4 : #61c2d0; /*активный пункт меню в асайде    rgb(97, 194, 208)*/
    --color5 : #435163; /*темный текст в инпуте карточки выбора токена rgb(67, 81, 99)*/
    --main-background : #f9fafb; /*бэкграунд за планетой*/
    --bg-color-1: #1b2330; /*менюшка выбора языков в асайде ?????*/
    --bg-swap-card: #2c374b; /*бэкграунд карточки excange/liquidity*/
    --menu-bg: rgba(26, 31, 46, 0.702); /*полупрозрачный синий - бэкграунд асайда*/
    --transition1 : 0.1s;
    --box-shadow-r : rgba(0, 0, 0, 0.03) 19px 2px 25px 0px;
    --box-shadow : rgba(0, 0, 0, 0.09) 0px 0px 25px 0px;
    --box-shadow2 : 0px 0px 98px 0px rgba(24, 29, 43, 0.6);
    --top-menu-height: 70px;
    --border-radius1: 5px;
    --border-radius2: 3px;
}

body, p, .btn {
    font-family: 'Ska Sans Regular', sans-serif;
}

.c-border {
    border-radius: var(--border-radius1);
}

body {    
    background-color: #202836;
    color: var(--color1);
    overflow-x: hidden;
    height: 100vh;
    min-height: 600px;
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

::-webkit-scrollbar {
    width: 7px;
    height: 0;
    left:-100px;
    border: 1px solid var(--color5);
    border-radius: 7px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--color4);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color4) var(--color2);
}

/* ::selection {
    color: var(--color1);
    background: #00000000;
} */

#toastWrapper {
    right: 50px;
    top: var(--top-menu-height);
}

.aside-toggle:hover {
    cursor: pointer;
    color: var(--color4);
}

.aside-toggle {
    color: var(--color2);
    font-size: 20px; 
}

.aside-toggler {
    width: 35px;
}

.wrapper-1 {
    border-radius: var(--border-radius-1);
    background-color: var(--bg-color-1);
}

.br-standard {
    border-radius: var(--border-radius1);
}

.text-input-1 {
    border-radius: var(--border-radius2);
    color: var(--color5)!important;
    border: 1px solid var(--color2); 
    background: transparent;
}

.form-control.text-input-1:focus {
    background-color: transparent;
    border: 1px solid var(--color2);
}

.fire-tooltip {
    color: var(--color4);
}

.close-1:hover {
    color: var(--color4);
}

.hover-pointer {
    cursor: pointer;
}

.tooltip-info {
    
}

.back-button { /*iconItem13*/
    transform: rotate(90deg);
    font-size: 18px;
}

.back-button:hover {
    color: var(--color4);
}

.no-top-margin {
    margin-top: 0 !important;
}

.spinner {
    animation: 1s linear infinite rotate-clockwise;
}

@keyframes rotate-clockwise {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

.modal-header {
    border-bottom: none;
}


.modal-content {
    background-color: var(--bg-color-1);
    box-shadow: var(--box-shadow2);
}

.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    opacity: 1;
}

.modal-content .close {
    color: var(--color1);
    text-shadow: none;
    opacity: 1;
    font-weight: 400;
    font-size: 40px;
}

.modal-content .close:hover {
    color: var(--color3);
}

.blankpage-content-wrapper {
    background-color: rgba(0,0,0,0.7);
    padding-left: 200px;
}

#ETMPage {
    box-sizing: border-box;
    padding-top: var(--top-menu-height);
    background-color: #202836;
    height: 100%;
    overflow-y: hidden;
}

#ETMWrapper {
    box-sizing: border-box;
    height: calc(100% - var(--top-menu-height));
}

#ETMWrapper form .err-msg {
    color: #e03266;
    font-size: 13px;
}


#ETMWrapper form .form-control {
    background-color: var(--color5);
    color: var(--color1);
}

.modal-body, .modal-header {
    padding: 1.5rem;
}

.token-pair-logo-wrapper .logo-wrapper-sm:last-child {
    margin-left: -5px;
}

.logo-wrapper-xs, .logo-wrapper-sm {
    flex-grow: 0;
    flex-shrink: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color1);
    border-radius: 50%;
}

.logo-wrapper-sm {
    flex-basis: 35px;
    width: 35px;
    height: 35px;
    border: 7px solid var(--color1);
}

.logo-wrapper-xs {
    flex-basis: 24px;
    width: 24px;
    height: 24px;
    border: 4px solid var(--color1);
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 400px;
    }
}

.btn {
    border-radius: var(--border-radius2);
}