
  @font-face {
    font-family: "Ska Sans Regular";
    src: url(../fonts/5kaSansDesign-Regular_4.otf);
  }

  @font-face {
    font-family: "Ska Sans Condensed";
    src: url(../fonts/5kaSansDesign-CondensedRegular_0.otf);
  }

  @font-face {
    font-family: "Ska Sans Black";
    src: url(../fonts/5kaSansDesign-Black_1.otf);
  }

:root {
    --color1 : #ffffff;
    --color2 : #61758b; /*синий текст в меню rgb(97, 117, 139);*/
    --color3 : #b4c941; /*хаки*/
    --color3-t : #b4c94180; /*полупрозрачный хаки для onhover режима кнопок*/
    --color4 : #61c2d0; /*активный пункт меню в асайде    rgb(97, 194, 208)*/
    --color5 : #435163; /*темный текст в инпуте карточки выбора токена rgb(67, 81, 99)*/
    --main-background : #f9fafb; /*бэкграунд за планетой*/
    --bg-color-1: #1b2330; /*менюшка выбора языков в асайде ?????*/
    --bg-swap-card: #2c374b; /*бэкграунд карточки excange/liquidity*/
    --menu-bg: rgba(26, 31, 46, 0.702); /*полупрозрачный синий - бэкграунд асайда*/
    --transition1 : 0.1s;
    --box-shadow-r : rgba(0, 0, 0, 0.03) 19px 2px 25px 0px;
    --box-shadow : rgba(0, 0, 0, 0.09) 0px 0px 25px 0px;
    --box-shadow2 : 0px 0px 98px 0px rgba(24, 29, 43, 0.6);
    --top-menu-height: 70px;
    --border-radius1: 5px;
    --border-radius2: 3px;
}

body, p, .btn {
    font-family: 'Ska Sans Regular', sans-serif;
}

.c-border {
    border-radius: var(--border-radius1);
}

body {    
    background-color: #202836;
    color: var(--color1);
    overflow-x: hidden;
    height: 100vh;
    min-height: 600px;
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

::-webkit-scrollbar {
    width: 7px;
    height: 0;
    left:-100px;
    border: 1px solid var(--color5);
    border-radius: 7px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--color4);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color4) var(--color2);
}

/* ::selection {
    color: var(--color1);
    background: #00000000;
} */

.aside-toggle:hover {
    cursor: pointer;
    color: var(--color4);
}

.aside-toggle {
    color: var(--color2);
    font-size: 20px; 
}

.aside-toggler {
    width: 35px;
}

.wrapper-1 {
    border-radius: var(--border-radius-1);
    background-color: var(--bg-color-1);
}

.br-standard {
    border-radius: var(--border-radius1);
}

.text-input-1 {
    border-radius: var(--border-radius2);
    color: var(--color5)!important;
    border: 1px solid var(--color2); 
    background: transparent;
}

.form-control.text-input-1:focus {
    background-color: transparent;
    border: 1px solid var(--color2);
}

.fire-tooltip {
    color: var(--color4);
}

.close-1:hover {
    color: var(--color4);
}

.hover-pointer {
    cursor: pointer;
}