.navbar {
    height: var(--top-menu-height);
    background-color: var(--menu-bg);

/*    position: fixed;
    width: 100%;
    height: 67px;
    box-shadow: var(--box-shadow);*/
}

@media (max-width: 767px) {
    .navbar {
        background-color: var(--menu-bg-non-transparent);
        border-bottom: 1px solid var(--color2);
    }
}

/*
.navbar.new-color {
    background-color: var(--color1);
}

.navbar-brand {
    cursor: pointer;
    margin-left: 0.5%;
    margin-bottom: 0.2%;
    margin-top: 0.2%;
}

.navbar-custom {
    cursor: pointer;
    margin-left: 0.5%;
    margin-bottom: 0.3%;
    margin-top: 0.3%;
    color: var(--color1);
}

.navbar-light .navbar-brand {
    color: var(--color1);
}*/

.wallet-info-wrapper {
    height: 28px;
} 

.connect-btn, .wallet-info-boxes, .enq-vol, #pendingIndicator {
    height: 100%;
}


#pendingIndicator {
    color: var(--color1);
    background-color: var(--color3);
    border-radius: var(--border-radius1);
}

.connect-btn {
    width: 120px;
    border-radius: var(--border-radius1);
}

.choose-net {
    color: var(--color1);
}

.choose-net.btn-link:hover {
    color: var(--color4);
    text-decoration: none;
}

.choose-net.btn-link.btn.focus, .choose-net.btn-link.btn:focus {
    box-shadow: none;
    text-decoration: none;
}

/* .btn-secondary {
    border-color: #00000000;
} */



.wallet-info-boxes {
    border : 1px solid var(--color5);
    font-size: 14px;
    border-radius: var(--border-radius1);
}

.net {
    border: 1px solid var(--color4);
}

.enx-amount {
    background: linear-gradient(to right, #eaa63e, #dd7046);
}


.net-item {
    color: var(--color1);
}

.net-item:hover {
    background-color: #00000000;
    color: var(--color4);
}

.addr {
    background-color: var(--bg-swap-card);
    width: 130px;
    position: relative;
    right: -1px;
    top: 0px;
    height: calc(100% + 2px);
}