.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.swap-card-wrapper {
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 430px;
    transition: var(--transition1);
    margin-top: 150px;
}

@media (max-width: 767px) {
    .swap-card-wrapper {
        width: auto!important;
    }
}

.swap-card {    
    box-shadow: var(--box-shadow);
    background-color: var(--bg-swap-card);    
    height: auto;
    border-radius: var(--border-radius1);
}

.liquidity-btn {
    background-color: var(--color3);
}

#head-line {
    width: 100%;
    margin-top: 0px;
    border-bottom: 2px solid var(--color2);
}

.swap-input {
    background-color: var(--color2);
    border: solid #00000000;
    border-radius: var(--border-radius2);
    min-height: 100px;
}

#exch {
    transform: rotate(90deg);
    cursor : pointer;
    background-color: var(--color2);
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.exch-button {
    font-size: '40px';
    color : white;
    transform: rotate(-90deg);
    color: var(--color3);
}

#exch:hover {
    background-color: var(--menu-bg);
}

#submit {
    background-color: var(--color3);
}

#swap-mode-header {
    color : var(--color1);
}

#under-header {
    color: var(--color4);
}

.input-field {
    background-color: var(--color2);
    border: 0;
    border-radius: 50px;
    text-align: center;
    width: 200px;
}

.c-input-field {
    outline: none;
    background-color: var(--bg-color);
    border: 0;
    color: var(--color4);
}

.c-input-field::placeholder {
    color: var(--color4);
}

.form-control {
    color: var(--color1);
}

.form-control:focus {
    border: 0;
    background-color: var(--color2);
    color: var(--color1);
    box-shadow: #00000000;
}

.token-button {
    background-color: #00000000;
    border-radius: var(--border-radius1);
}

.token-button .chevron-down {
    font-size: 0.6rem;
}

.control-container {
    flex-basis: 33px;
    width: 33px;
    height: 33px;
    flex-grow: 0;
    flex-shrink: 0;
}

.bottom-line-1 {
    border-bottom: 2px solid var(--color2);
}

.swap-card-top-items {
    color : var(--color3);
    font-size: 25px;
    cursor: pointer;
    transition: all 0.1s;
}

.swap-card-top-items:hover {
    font-size: 28px; 
    transition: all 0.1s;
}

.your-liquidity-field {
    background-color: var(--color5);
    border-radius: var(--border-radius2);
}

.add-liquidity-header {
    margin: 0px!important;
}

.plus-liquidity {
    transform: rotate(45deg);
    color: var(--color4);
}

.pool-prices {
    color: var(--color4);
}

.my-token-amount {
    color: var(--color1);
}

.about-button-info {
    background-color: var(--color5);
    height: 60px;
    width: 60%;
    margin-top: 30px !important;
    margin-bottom: 23px !important;
    border-radius: var(--border-radius1);
}

.alt-submit {
    width: 30%;
    margin-right: 5%;
}


.form-control-range {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    background: var(--color4);
    border-radius: 3px;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.form-control-range:hover {
  opacity: 1;
}

.form-control-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
/*    border: 1px solid var(--color1);*/
    background: var(--color3);
    cursor: pointer;
}

.form-control-range::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: var(--color3);
/*    border: 1px solid var(--color1);*/
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

#removeLiquidityRange button.btn-secondary {
    color: var(--color4);
    line-height: 1.3;
}

.liquidity-tokens-zone {
    background-color: var(--color2);
}

.liquidity-tokens-empty-zone {
    background-color: var(--color5);
    border-radius: var(--border-radius2);
    height: 100px;
}