.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.swap-card {
    position: fixed;
    box-shadow: var(--box-shadow);
    background-color: var(--bg-swap-card);
    margin-top: 250px;
    height: 600px;
    width: 430px;
    margin-left: -215px;
    transition: var(--transition);
}

.swap-header-group {
    height: 120px;
}

#head-line {
    width: 100%;
    margin-top: 0px;
    border-bottom: 2px solid var(--inactive-item);
}

.swap-input {
    background-color: var(--color2);
    border: solid #00000000;
    /* border-radius: 30px; */
    width: 90%;
    height: 100px;
    margin-left: 5%;
}

#from {
    margin-top: 30px;
    margin-bottom: 20px;
}

#exch {
    transform: rotate(90deg);
    cursor : default;
    background-color: var(--color2);
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 195px;
    border-radius: 50px;
}

.exch-button {
    font-size: '40px';
    color : white;
    margin-right: 19px;
    transform: rotate(-90deg);
    color: var(--color3);
}

#exch:hover {
    background-color: var(--menu-bg);
}

#to {
    margin-top: 20px;
    margin-bottom: 30px;
}

#submit {
    background-color: var(--color3);
    height: 60px;
    margin-top: 30px !important;
    border-radius: 0px;
}

#swap-mode-header {
    color : white;
    margin-top: 27px;
    margin-left: 6%;
}

#under-header {
    color: var(--active-item);
    margin-left: 6%;
}

.input-field {
    background-color: var(--color2);
    border: 0;
    margin-top: 30px;
    margin-left: 24%;
    border-radius: 50px;
    text-align: center;
    width: 200px;
}

.c-input-field {
    outline: none;
    margin-left: 14px;
    background-color: var(--bg-color);
    border: 0;
    color: var(--active-item);
}
.c-input-field::placeholder {
    color: var(--active-item);
}

.form-control {
    color: var(--text-color);
}

.form-control:focus {
    border: 0;
    background-color: var(--color2);
    color: var(--text-color);
    box-shadow: #00000000;
}

.input-name {
    margin-top: 10px;
    margin-left: 15px;
    width: 20px;
}

.token-use {
    background-color: var(--color3);
    position: absolute;
    top: 160px;
    right: 35px;
}

.token-use1 {
    background-color: var(--color3);
    position: absolute;
    top: 321px;
    right: 35px;
}

.swap-card-top-items {
    color : var(--color3);
    font-size: 25px;
    cursor: pointer;
}

.swap-card-top-items:hover {
    font-size: 27px;
};