#switch {
    position: absolute;
    box-shadow: var(--box-shadow);
    top: -100px;
    height: 35px;
    width: 100%;
    transition: var(--transition1);
    border-radius: var(--border-radius2);
}

#liquidity-mode {

    border-bottom-right-radius: var(--border-radius2);
    border-top-right-radius: var(--border-radius2);
}

#exchange-mode {
    border-bottom-left-radius: var(--border-radius2);
    border-top-left-radius: var(--border-radius2);
}

.switch-mode {
    text-align: center;
    cursor: pointer;
    height: 35px;
    width: 190px;
    padding-top: 1px;
    font-size: 22px;
}

.switch-mode:hover {
    background-color: var(--color3-t)!important;
}