#switch {
    position: fixed;
    box-shadow: var(--box-shadow);
    margin-top: 150px;
    height: 35px;
    margin-left: 25px;
    width: 380px;
    background-color: var(--bg-swap-card);
    margin-left: -190px;
    transition: var(--transition);
    border-radius: var(--border-radius);
}

#liquidity-mode {
    position: absolute;
    right: 0;
    margin-top: -35px;
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

#exchange-mode {
    position: relative;
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.switch-mode {
    text-align: center;
    cursor: pointer;
    height: 35px;
    width: 190px;
    padding-top: 1px;
    font-size: 22px;
}

.switch-mode:hover {
    background-color: var(--color3-t)!important;
}