#tokensList {
	height: 500px;
	overflow-y: scroll;
}

.token-option {
    text-align: left;
    color: var(--color1);
    font-size: 20px;
    padding: 0px;
    border-radius: var(--border-radius2);
}

.token-option:hover{
    background: #747cf417;
}

.sort-direction-toggler:hover {
	color: var(--color4);
}

.sort-direction-toggler:hover {
	transition: transform 0.2s ease-out 0.1s;
    transform: scale(1, -1);
}

.sort-direction-toggler {
	transition: transform 0.2s ease-out 0.1s;
}

.token-hash {
    margin-top: -6px;
    font-size: 10pt;
}

.trusted-logo {
    width: 15px;
    height: 15px;
}
