.c-card-1 {
	background-color: var(--bg-color-1);
    box-shadow: var(--box-shadow2);
    border-radius: var(--border-radius1);
}

#topPairsCard .pairs-table-wrapper {
	 background-color: rgb(22, 26, 39);
}

#topPairsCard .pairs-table-wrapper .table {
	margin-bottom: 0px;
	background-color: transparent;
}

#topPairsCard .pairs-table-wrapper th,
#topPairsCard .pairs-table-wrapper td {
	white-space: nowrap;
}

#topPairsCard .pairs-table-wrapper .table thead th {
	border-top: none;
}

.pairs-table-wrapper .table-dark td, .pairs-table-wrapper .table-dark th, .pairs-table-wrapper .table-dark thead th {
    border-color: var(--color6);
}

#topPairsCard .pairs-table-wrapper {
	border: 1px solid var(--color5);
	border-radius: var(--border-radius1);
}

#topPairsCard .simplebar-track.simplebar-horizontal {
	padding-top: 7px;
	padding-bottom: 7px;
}

#topPairsCard .simplebar-track.simplebar-horizontal  .simplebar-scrollbar:before {
    background: var(--color4);
}

#topPairsCard .simplebar-track.simplebar-horizontal  .simplebar-scrollbar.simplebar-visible:before {
	opacity: 1;
}