.enq-wallet {
    border-radius: var(--border-radius);
    width: 90%;
    height: 60px;
    margin-left: 5%;
    margin-top: 20px;
    font-size: 20px;
    background-color: #384151;
    color: var(--color3);
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

.enq-wallet p {
    margin-bottom: 0;
}

.enq-wallet div img {
    width: 30px;
    height: 30px;
}

.c-circle {
    width: 42px;
    height: 42px;
    border-radius: 20px;
    background: white;
    margin-right: -36px;
}

.enq-wallet:hover {
    background-color: #38415180;
}

.c-clue {
    cursor: pointer;
    margin-top: 50px;
    color: var(--active-item);
}

.c-clue:hover {
    color: #2847cf; 
}

.c-clue span {
    margin-top: 2px;
    margin-right: 10px;
}